<div class="sections">
  <div class="container-fluid main-container">
    <div class="col-md-2 sidebar app-nav">
      <nav>
        <ul>
          <li class="store"><span class="store-icon"></span><a href="/">All Apps</a></li>
          <li class="devices"><span class="devices-icon"></span><a href="./#/myApp">My App</a></li>
          <li class="music"><span class="music-icon"></span><a href="./#/myShop">Shop</a></li>
          <li class="books"><span class="books-icon"></span><a href="./#/myRated">Rated</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10 content ">
      <div class="col-sm-12">
        <h3>Your Shopped Apps</h3>
      </div>
      </div>
    </div>
  </div>
